<h1><%= @restaurant.name %></h1>

<% if current_user == @restaurant.user %>
  <%= link_to "Edit", edit_restaurant_path %>   |   <%= link_to "Delete", "/restaurants/#{@restaurant.id}", method: :delete %>
<% end %>


<div class="restaurant_show">
    <ul class="restaurant_info">
      <li><%= @restaurant.name %></li>
      <li>Address: <%= @restaurant.address  %></li>
      <li>City:<%= @restaurant.city  %></li>
      <li>Price Range: <%= @restaurant.price_range  %></li>
      <li>Summary <%= @restaurant.summary  %></li>
      <li>Menu:<%= @restaurant.menu  %></li>
      <li>Opening Hours<%= @restaurant.opening_hours  %></li>
      <li>Closing Hours<%= @restaurant.closing_hours  %></li>
      <li> Capacity <%=@restaurant.capacity %></li>
    </ul>
  </div>

<h2>Reservation</h2>
<% if current_user %>
<%= render partial: "reservations/form", locals: {restaurant: @restaurant, reservation: @reservation} %>
<% else %>
    <p> If you want to book a table at this restaurant please <%= link_to 'Log In', new_session_path %> </p>
<% end %>
